body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  width: 100%;
}
main {
  flex: 1 0 auto;
}

.page-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.clear {
  clear: both;
  height: 150px;
}

.card {
  overflow: hidden;
}

.swamiBhajan {
  display: block;
  margin-top: 10%;
  margin-bottom: 20%;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}
